.search {
    background: linear-gradient(0deg, rgb(0, 247, 255) 1%, rgb(42, 158, 194) 50%);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.search p {
    color: #121213;

}

.search_container {
    display: flex;
    gap: 0.5rem;
}

.search_container input,
.search_container button {
    padding: .6rem;
    border-radius: 6px;
    border: none;
    color: #000000;

}

.search_container button {
    background-color: #0a0a0a;
    cursor: pointer;
}

.search_container button:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}