.user {
    background: linear-gradient(0deg, rgb(0, 247, 255) 1%, rgb(42, 158, 194) 50%);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.user img {
    width: 140px;
    height: 140px;
    border: 4px solid #020202;
    border-radius: 50%;
}



.location {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.location svg {
    fill: #01f336;
    font-size: 1.5rem;
}

.location span {
    color: #ffffff;
    font-weight: bold;
}

.stats {
    display: flex;
}

.stats div {
    padding: 0 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.stats div:first-child {
    border-right: 1px solid #0a0a0a;
}

.number {
    background-color: #030303;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}

.user a {
    text-align: center;
    background-color: #080808;
    padding: 1rem;
    border-radius: 5px;
    opacity: .6;
    transition: .3s;

}

.user a:hover {
    opacity: 1;
}